body{    
    margin: 0;
}
main{
    margin: 0,5em;
}
table{
      border: solid black 1px;
}
th{
    font-size: 18px;
    border:solid black 1px ;
}
td{
    border:solid black 1px ;
    font-size: 16px;
    background-color: burlywood;    
}  
.Date{
    width: 130px;
    border:solid black 1px ;      
}
 
#test td.selected {
    background-color: gray;
    color: white;
    border-radius: 50%;
}
tr .selected{
    background-color: aqua;
}